<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBitacora" />
                <binding name="BasicHttpBinding_IRepositorios" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBitacora" />
                <binding name="NetTcpBinding_IRepositorios" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AnalisisCodigo/Servicios/Bitacoras.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBitacora"
                contract="Bitacoras.IBitacora" name="BasicHttpBinding_IBitacora" />
            <endpoint address="net.tcp://eclp0196.bdconsultores.local/AnalisisCodigo/Servicios/Bitacoras.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBitacora"
                contract="Bitacoras.IBitacora" name="NetTcpBinding_IBitacora">
                <identity>
                    <servicePrincipalName value="host/ECLP0196.BDCONSULTORES.local" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/AnalisisCodigo/Servicios/Repositorios.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRepositorios"
                contract="Repositorios.IRepositorios" name="BasicHttpBinding_IRepositorios" />
            <endpoint address="net.tcp://eclp0196.bdconsultores.local/AnalisisCodigo/Servicios/Repositorios.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRepositorios"
                contract="Repositorios.IRepositorios" name="NetTcpBinding_IRepositorios">
                <identity>
                    <servicePrincipalName value="host/ECLP0196.BDCONSULTORES.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>