<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.FileVersionInfo" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Thread" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISolucionesCodigoFuente" />
        <binding name="BasicHttpBinding_IBitacora" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISolucionesCodigoFuente" />
        <binding name="NetTcpBinding_IBitacora" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/AnalisisCodigo/Servicios/SolucionesCodigoFuente.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolucionesCodigoFuente"
        contract="ClienteAnalisis.ISolucionesCodigoFuente" name="BasicHttpBinding_ISolucionesCodigoFuente" />
      <endpoint address="net.tcp://eclp0196.bdconsultores.local/AnalisisCodigo/Servicios/SolucionesCodigoFuente.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISolucionesCodigoFuente"
        contract="ClienteAnalisis.ISolucionesCodigoFuente" name="NetTcpBinding_ISolucionesCodigoFuente">
        <identity>
          <servicePrincipalName value="host/ECLP0196.BDCONSULTORES.local" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AnalisisCodigo/Servicios/Bitacoras.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBitacora"
        contract="Bitacoras.IBitacora" name="BasicHttpBinding_IBitacora" />
      <endpoint address="net.tcp://eclp0196.bdconsultores.local/AnalisisCodigo/Servicios/Bitacoras.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBitacora"
        contract="Bitacoras.IBitacora" name="NetTcpBinding_IBitacora">
        <identity>
          <servicePrincipalName value="host/ECLP0196.BDCONSULTORES.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>